//- Contact Information Page

extends layout

block content

  doctype html
  html
    head
      title this 

    body
      .container
        .col.col-md6
          .alert.alert-success
            p
              H1 Thank you
            p     
              | Name: #{post_data.prefix} #{post_data.Firstname} #{post_data.Lastname} 
            p
              | Address: #{post_data.street} #{post_data.City} #{post_data.State} #{post_data.Zip} 

            p
              if post_data.checkphone=="on"
                | Phonenumber : #{post_data.Phone} | Contact by phone: #{post_data.checkphone} 
            p
              if post_data.checkemail=="on"
                | Email:#{post_data.Email} |  Contact by email: #{post_data.checkemail} 
            p
              if post_data.checkmail=="on"
                |Contactbymail: #{post_data.checkmail}
            p
        .col.col-md6
          p
            a(href='/mailer').btn.btn-primary Enter Again
          p    
            a(href='/contacts').btn.btn-primary Contacts
        







